HandyEQ/HandyEQ-HW.cache/
HandyEQ/HandyEQ-HW.hw/
HandyEQ/HandyEQ-HW.runs/.jobs/
HandyEQ/HandyEQ-HW.runs/impl_1/
HandyEQ/HandyEQ-HW.runs/synth_1/
HandyEQ/HandyEQ-HW.data/wt/
HandyEQ/*.jou
HandyEQ/*.log
HandyEQ/*.png
HandyEQ/*.str
HandyEQ/Thumbs.db
Firmware/*.srec
Firmware/*.bat
.Xil/
*.exe
*.srec
*~
.gitignore~
