HandyEQ-HW-NoSoftcore/HandyEQ-HW-NoSoftcore.cache/
HandyEQ-HW-NoSoftcore/HandyEQ-HW-NoSoftcore.hw/
HandyEQ-HW-NoSoftcore/HandyEQ-HW-NoSoftcore.runs/.jobs/
HandyEQ-HW-NoSoftcore/HandyEQ-HW-NoSoftcore.runs/impl_1/
HandyEQ-HW-NoSoftcore/HandyEQ-HW-NoSoftcore.runs/synth_1/
HandyEQ-HW-NoSoftcore/HandyEQ-HW-NoSoftcore.data/wt/
HandyEQ-HW-NoSoftcore/*.jou
HandyEQ-HW-NoSoftcore/*.log
HandyEQ-HW-NoSoftcore/*.png
HandyEQ-HW-NoSoftcore/*.str
HandyEQ-HW-NoSoftcore/Thumbs.db
HandyEQ/HandyEQ.cache/
HandyEQ/HandyEQ.hw/
HandyEQ/HandyEQ.runs/.jobs/
HandyEQ/HandyEQ.runs/impl_1/
HandyEQ/HandyEQ.runs/synth_1/
HandyEQ/HandyEQ.data/wt/
HandyEQ/*.jou
HandyEQ/*.log
HandyEQ/*.png
HandyEQ/*.str
HandyEQ/Thumbs.db
Firmware/*.c~
Firmware/*.h~
Firmware/Makefile~
Firmware/*.srec
Firmware/*.exe
Firmware/*.bat
Firmware/*.sh~
.Xil/
.gitignore~

