HandyEQ/HandyEQ.cache/
HandyEQ/HandyEQ.hw/
HandyEQ/HandyEQ.runs/.jobs/
HandyEQ/HandyEQ.runs/impl_1/
HandyEQ/HandyEQ.runs/synth_1/
HandyEQ/HandyEQ.data/wt/
HandyEQ/*.jou
HandyEQ/*.log
HandyEQ/*.png
HandyEQ/*.str
HandyEQ/Thumbs.db
Firmware/*.srec
Firmware/*.bat
.Xil/
*.exe
*~

